{
    "version": "", 
    "port": 3000,
    "gitAutomation": { // part of github configurations
        "API": { // // service name
            "githubSecret": "", // secret key from github webhook configuration
            "projectPath": "" // absolute path to project root folder 
        },
        "WEB": {
            "githubSecret": "",
            "projectPath": ""
        }
    },
    "dbAccess": { // access to mongoDB
        "dbName": "",
        "user": "",
        "pass": ""
    },
    "projectPath": "" // absolute path to current project
}